#blackout
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 800
  background: black
  pointer-events: none
  opacity: 1
  transition: opacity 1s

#stage
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  overflow: hidden

.set
  background-size: cover
  background-position: center
  position: fixed
  width: 100%
  height: 100%

.bedroom-wall
  z-index: 1
  background-image: url('../img/bedroom/wall.png')
  animation: hue 4s infinite

.bedroom-furniture
  z-index: 2
  background-image: url('../img/bedroom/furniture.png')

.bedroom-bed
  z-index: 3
  background-image: url('../img/bedroom/bed.png')

.bedroom-bedside
  z-index: 1
  background-image: url('../img/bedroom/bedside.png')

.bear-clock
  position: absolute
  z-index: 2
  width: 100px
  height: 100px
  top: 20%
  left: 5%
  background-image:  url('../img/sprites/bear-clock.png')
  background-repeat: no-repeat
  background-position: 0
  background-size: 600px
  animation: bear-clock .7s steps(6, end) infinite

.bedroom-wallpaper
  z-index: 1
  position: absolute
  width: 100%
  height: 100%
  background-image: url('../img/bedroom/wallpaper.gif')
  animation: hue 4s infinite

.coach-container
  animation: coach-fly 1s infinite
  position: absolute
  top: 0%
  left: 0%
  width: 100%
  height: 100%
  z-index: 800

.coach-angry
  position: absolute
  top: 0%
  left: 50%
  margin-left: -100px
  width: 200px
  height: 100%
  background-image:  url('../img/sprites/coach-angry.png')
  background-repeat: no-repeat
  background-position: 0
  background-size: 800px
  animation: coach-angry .5s steps(4, end) infinite

.coach-mellow
  position: absolute
  top: 0%
  left: 50%
  margin-left: -100px
  width: 200px
  height: 100%
  background-image:  url('../img/sprites/coach-mellow.png')
  background-repeat: no-repeat
  background-position: 0
  background-size: 1600px
  animation: coach-mellow 1s steps(8, end) infinite

.mirror-border
  background: rgb(245,246,246);
  background: -webkit-radial-gradient(center, ellipse cover, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  background: radial-gradient(ellipse at center, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 699
  -webkit-clip-path: ellipse(45% 34% at 50% 50%);
  clip-path: ellipse(45% 34% at 50% 50%);

#mirror-video ,
#mirror-still
  opacity: 0.8
  animation: mirror 2s infinite

#mirror-video-viewport
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  z-index: 700
  -webkit-transform: scale(-1, 1)
  transform: scale(-1, 1)
  -webkit-clip-path: ellipse(40% 30% at 50% 50%);
  clip-path: ellipse(40% 30% at 50% 50%);

#mirror-video
  width: 100%
  height: 100%

#mirror-still
  width: 100%
  height: 100%
  background-size: cover
  background-position: center

.mirror-coach
  left: -100px
  margin-left: 0
  transform: scale(.7)
  top: 20%
  -webkit-filter: saturate(0)
  filter: saturate(0)

.livingroom
  width: 200%
  left: -100%
  transition: left 2s

.livingroom-room
  background-image: url('../img/livingroom/room.png')
  z-index: 2

.livingroom-aunt
  background-image: url('../img/livingroom/aunt.png')
  z-index: 3
  animation: livingroom-aunt .5s infinite

.livingroom-cat
  background-image: url('../img/livingroom/cat.png')
  z-index: 4
  animation: livingroom-cat 3s infinite linear

.livingroom-sofa
  background-image: url('../img/livingroom/sofa.png')
  z-index: 5

.livingroom-compass
  opacity: 0
  background-size: cover
  background-position: center
  position: fixed
  transition: opacity 2s
  pointer-events: none

.livingroom-compass-bg
  background-image: url('../img/livingroom/compass-bg.jpg')
  z-index: 6
  animation: hue 4s infinite linear
  width: 100%
  height: 100%

.livingroom-compass-obj
  background-image: url('../img/compass.png')
  z-index: 7
  width: 0px
  height: 0px
  top: 50%
  left: 50%
  margin-top: 0px
  margin-left: 0px
  transition: all 2s
  animation: livingroom-spin-compass 2s infinite linear

.livingroom-transition
  transition: left 2s

@keyframes bear-clock
  100%
    background-position: -600px

@keyframes coach-fly
  0%
    transform: translateY(0px)
  50%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

@keyframes coach-angry
  100%
    background-position: -800px

@keyframes coach-mellow
  100%
    background-position: -1600px

@keyframes hue
  from
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  to
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);

@keyframes mirror
  0%
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  50%
    -webkit-filter: sepia(1) hue-rotate(180deg) brightness(2.0);
    filter: sepia(1) hue-rotate(180deg) brightness(2.0);
  100%
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);

@keyframes livingroom-aunt
  0%
    background-image: url('../img/livingroom/aunt.png')
  50%
    background-image: url('../img/livingroom/aunt2.png')
  100%
    background-image: url('../img/livingroom/aunt.png')

@keyframes livingroom-cat
  from
    left: 100%
  to
    left: -100%

@keyframes livingroom-spin-compass
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

@media screen and (max-width: 600px)
  html
    width: 100%