$map-transition = 300ms linear

.map-stage
  display: none

#map-sky
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgb(0,120,255);
  transition: background-color $map-transition

#map-goal-container
  position: fixed
  bottom: 50%
  width: 100%
  height: 50%
  transform-origin: center bottom
  transform: translateX(0%)
  transition: transform $map-transition
  
#map-goal
  position: absolute
  bottom: 0
  width: 100%
  height: 100%
  background: green
  transform-origin: center bottom
  transform: scale(.01)
  transition: transform $map-transition
  
#map-floor-container
  height: 50%
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  overflow: hidden
  
#map-floor
  position: absolute
  height: 400%
  width: 100%
  bottom: 0
  left: 0
  background: linear-gradient(to bottom, #ff0000 0%,#000000 100%)

#compass
  position: absolute
  width: 25%
  bottom: 5px
  left: 5px
  transition: transform $map-transition

#radar
  width: 10px
  height: 10px
  margin-bottom: 20px
  background: red
  animation-name: bleep
  animation-iteration-count: infinite
  animation-duration: 0ms

#angle, #radar
  color: white
  position: relative

@keyframes bleep
  0%, 100%
    opacity: 1
  50%
    opacity: 0.1
    
