$map-transition = 300ms linear

.map-sky
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 50%
  background-color: rgb(0,120,255)
  will-change: background-color

.map-orientation
  margin-left: -200%
  width: 400%
  will-change: transform

.map-clouds
  position: fixed
  top: 0
  left: 50%
  height: 50%
  background-repeat: repeat-x
  background-size: 50% 80%
  background-position: center
  background-image: url('../img/map/clouds.svg')
  opacity: 0.9

.map-skyline
  position: fixed
  top: 0
  left: 50%
  height: 50%
  background-position: center bottom
  background-repeat: repeat-x
  background-size: 25% 35%

.map-floor-container
  height: 50%
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  overflow: hidden

.map-floor
  position: absolute
  height: 400%
  width: 100%
  bottom: 0
  left: 0
  background: black

.map-object
  position: absolute
  height: 100%
  bottom: 0
  left: 50%
  background-repeat: repeat-x
  background-size: 25% 100%

//DESERT
.world-0
  .map-skyline
    background-image: url('../img/map/sky-0.svg');
  .map-floor
    background: linear-gradient(to bottom, #FF7BAC 0%,#2E3192 100%);
  .map-object
    background-image: url('../img/map/object-0.svg')

//CITY
.world-1
  .map-skyline
    background-image: url('../img/map/sky-1.svg')
  .map-floor
    background: linear-gradient(to bottom, #635FFF 0%,#FF8A5E 100%)
  .map-object
    background-image: url('../img/map/object-1.svg')
    filter: hue-rotate(30deg)

//ARCTIC
.world-2
  .map-skyline
    background-image: url('../img/map/sky-2.svg')
  .map-floor
    background: linear-gradient(to bottom, #29ABE2 0%,#00686A 100%)
  .map-object
    background-image: url('../img/map/object-2.svg')

//JUNGLE
.world-3
  .map-skyline
    background-image: url('../img/map/sky-3.svg');
  .map-floor
    background: linear-gradient(to bottom, #00F5AC 0%,#002B3F 100%);
  .map-object
    background-image: url('../img/map/object-3.svg');

#map-goal-container
  position: fixed
  bottom: 50%
  width: 100%
  height: 50%
  transform-origin: center bottom
  transform: translateX(0%)
  will-change: transform

#map-goal
  position: absolute
  bottom: 0
  width: 100%
  height: 100%
  transform-origin: center bottom
  transform: scale(.01)
  transition: transform $map-transition
  will-change: transform

.map-flag-container
  position: absolute
  bottom: 0
  left: 50%
  width: 25%
  height: 75%
  border-left: 7px ridge silver

.map-flag
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 30%

#compass
  position: absolute
  height: 12%
  bottom: 2%
  left: 5%
  will-change: transform

#map-menu
  height: 100%
  width: 100%
  top: 0
  left: 0
  position: absolute

.map-menu-coach
  position: absolute
  height: 12%
  bottom: 2%
  right: 5%

li.menu-item
  margin-bottom: 12px
  a, a:link, a:visited, a:active
    color: blue
    text-decoration: underline

ul.menu-list
  margin-bottom: 12px

.menu
  position: absolute
  bottom: 18%
  right: 5%
  width: 90%
  height: auto
  max-height: 80%
  background: white
  border: 5px solid blue
  color: blue
  border-radius: 15px
  display: none
  padding: 4%
  overflow-y: scroll
  box-sizing: border-box
  font-size: 18px
  transition: transform 100ms ease-in
  will-change: transform, display
  &.sub-menu
    left: 100%
    font-size: 14px
  &.show-sub-menu
    transform: translateX(-106%)
  a
    text-decoration: underline
  h1
    font-size: 18px
    margin: 14px 0
  p
    margin-bottom: 12px

.credits-logo
  max-width: 50%

@keyframes clouds
  0%
    background-position-x: 0%
  100%
    background-position-x: 400%
