.jankenpon-background
  position: absolute
  width: 100%
  height: 100%
  background-color: #06FF94
  background-image: url(../img/games/jankenpon/jankenpon-background.svg)
  background-size: 115%
  background-position: center
  background-repeat: no-repeat