/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   EDITED
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#blackout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 800;
  background: #fff;
  pointer-events: none;
  opacity: 1;
}
#stage {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.set {
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
}
.bedroom-stage {
  background-color: #00008b;
}
#bedroom-wall {
  z-index: 1;
  background-image: url("../img/bedroom/wallpaper.gif");
  -webkit-filter: hue-rotate(10deg);
          filter: hue-rotate(10deg);
  height: 75%;
  background-size: 30%;
  background-repeat: repeat;
}
#bedroom-furniture {
  z-index: 2;
  background-image: url("../img/bedroom/furniture.svg");
  background-size: 115% 115%;
  background-position: center 75%;
}
#bedroom-bed {
  z-index: 3;
  background-image: url("../img/bedroom/bed.svg");
  height: 50%;
  background-size: 115%;
  background-position: center 0;
  bottom: 0;
}
#bedroom-bedside {
  z-index: 1;
  background-image: url("../img/bedroom/bedside.svg");
  background-size: 115%;
  background-position: center 90%;
  background-repeat: no-repeat;
}
#bear-clock {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  top: 20%;
  left: 5%;
  background-image: url("../img/sprites/bear-clock.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 600px;
  -webkit-animation: bear-clock 0.7s steps(6, end) infinite;
          animation: bear-clock 0.7s steps(6, end) infinite;
}
#bedroom-wallpaper {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bedroom/wallpaper.gif");
  -webkit-filter: hue-rotate(10deg);
          filter: hue-rotate(10deg);
}
#coach-container {
  -webkit-animation: coach-fly 1s infinite;
          animation: coach-fly 1s infinite;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 800;
  pointer-events: none;
}
#coach-angry {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100%;
  background-image: url("../img/sprites/coach-angry.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 800px;
  -webkit-animation: coach-angry 0.5s steps(4, end) infinite;
          animation: coach-angry 0.5s steps(4, end) infinite;
}
#coach-mellow {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100%;
  background-image: url("../img/sprites/coach-mellow.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 1600px;
  -webkit-animation: coach-mellow 1s steps(8, end) infinite;
          animation: coach-mellow 1s steps(8, end) infinite;
}
.mirror-border {
  background: #f5f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  background: -webkit-radial-gradient(center ellipse, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  background: radial-gradient(ellipse at center, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 699;
  -webkit-clip-path: ellipse(45% 34% at 50% 50%);
  clip-path: ellipse(45% 34% at 50% 50%);
}
#mirror-video,
#mirror-still {
  opacity: 0.8;
  -webkit-animation: mirror 2s infinite;
          animation: mirror 2s infinite;
}
#mirror-video-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 700;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  -webkit-clip-path: ellipse(40% 30% at 50% 50%);
  clip-path: ellipse(40% 30% at 50% 50%);
}
#mirror-video {
  width: 100%;
  height: 100%;
}
#mirror-still {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.mirror-coach {
  left: -100px;
  margin-left: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  top: 20%;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
#livingroom-container {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.livingroom {
  width: 200%;
  left: -100%;
}
#livingroom-wall {
  z-index: 1;
  -webkit-filter: hue-rotate(10deg);
          filter: hue-rotate(10deg);
  background-image: url("../img/bedroom/wallpaper.gif");
  background-size: 15%;
}
#livingroom-room {
  background-image: url("../img/livingroom/room.png");
  z-index: 2;
  backround-size: 100% 100%;
}
#livingroom-aunt {
  z-index: 3;
  width: 100%;
  background-image: url("../img/livingroom/aunt3.png");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 200% 100%;
  -webkit-animation: livingroom-aunt 0.5s steps(2, end) infinite;
          animation: livingroom-aunt 0.5s steps(2, end) infinite;
}
#livingroom-cat {
  background-image: url("../img/livingroom/cat.svg");
  top: -5%;
  z-index: 4;
  -webkit-animation: livingroom-cat 3s infinite linear;
          animation: livingroom-cat 3s infinite linear;
  background-size: 15% 15%;
  background-position: 20% 80%;
  background-repeat: no-repeat;
}
#livingroom-sofa {
  background-image: url("../img/livingroom/sofa.png");
  z-index: 5;
}
.livingroom-compass {
  opacity: 0;
  background-size: cover;
  background-position: center;
  position: fixed;
  -webkit-transition: all 2s;
  transition: all 2s;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.show-compass {
  opacity: 1;
}
.show-compass #livingroom-compass-obj {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}
#livingroom-compass-bg {
  position: absolute;
  background-image: url("../img/livingroom/compass-bg.jpg");
  background-size: contain;
  z-index: 6;
  -webkit-animation: hue 4s infinite linear;
          animation: hue 4s infinite linear;
  width: 100%;
  height: 100%;
}
#livingroom-compass-obj {
  position: absolute;
  background-image: url("../img/compass.png");
  background-size: contain;
  z-index: 7;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-animation: livingroom-spin-compass 2s infinite linear;
          animation: livingroom-spin-compass 2s infinite linear;
}
.letsgo-background {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("../img/letsgo/letsgo-background.svg");
  background-size: 110% 110%;
  -webkit-animation: letsgo-background 2s infinite linear;
          animation: letsgo-background 2s infinite linear;
}
.coach-shiny {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  height: 50%;
  background-image: url("../img/letsgo/coach-shiny.png");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: coach-shiny 1s steps(4, end) infinite;
          animation: coach-shiny 1s steps(4, end) infinite;
}
@media screen and (max-width: 600px) {
  html {
    width: 100%;
  }
}
@-webkit-keyframes coach-shiny {
  100% {
    background-position: 400% center;
  }
}
@keyframes coach-shiny {
  100% {
    background-position: 400% center;
  }
}
@-webkit-keyframes letsgo-background {
  0% {
    background-color: #000;
    -webkit-filter: hue-rotate(100deg);
    filter: hue-rotate(100deg);
  }
  50% {
    background-color: #fff;
    -webkit-filter: hue-rotate(150deg);
    filter: hue-rotate(150deg);
  }
  100% {
    background-color: #000;
    -webkit-filter: hue-rotate(100deg);
    filter: hue-rotate(100deg);
  }
}
@keyframes letsgo-background {
  0% {
    background-color: #000;
    -webkit-filter: hue-rotate(100deg);
    filter: hue-rotate(100deg);
  }
  50% {
    background-color: #fff;
    -webkit-filter: hue-rotate(150deg);
    filter: hue-rotate(150deg);
  }
  100% {
    background-color: #000;
    -webkit-filter: hue-rotate(100deg);
    filter: hue-rotate(100deg);
  }
}
@-webkit-keyframes bear-clock {
  100% {
    background-position: -600px;
  }
}
@keyframes bear-clock {
  100% {
    background-position: -600px;
  }
}
@-webkit-keyframes coach-fly {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes coach-fly {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes coach-angry {
  100% {
    background-position: -800px;
  }
}
@keyframes coach-angry {
  100% {
    background-position: -800px;
  }
}
@-webkit-keyframes coach-mellow {
  100% {
    background-position: -1600px;
  }
}
@keyframes coach-mellow {
  100% {
    background-position: -1600px;
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes mirror {
  0% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
  50% {
    -webkit-filter: sepia(1) hue-rotate(180deg) brightness(2);
    filter: sepia(1) hue-rotate(180deg) brightness(2);
  }
  100% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
}
@keyframes mirror {
  0% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
  50% {
    -webkit-filter: sepia(1) hue-rotate(180deg) brightness(2);
    filter: sepia(1) hue-rotate(180deg) brightness(2);
  }
  100% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
}
@-webkit-keyframes livingroom-aunt {
  from {
    background-position: 0%;
  }
  to {
    background-position: 200%;
  }
}
@keyframes livingroom-aunt {
  from {
    background-position: 0%;
  }
  to {
    background-position: 200%;
  }
}
@-webkit-keyframes livingroom-cat {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes livingroom-cat {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes livingroom-spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes livingroom-spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.colorsnap-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a9a9a9;
  background-image: url("../img/games/colorsnap/colorsnap-background.svg");
  background-position: center;
  background-size: 100% 100%;
  -webkit-transition: background-color 2000ms;
  transition: background-color 2000ms;
}
#brush {
  position: absolute;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  width: 200px;
  height: 57.191px;
  top: 50%;
  left: 40%;
  margin-top: -26px;
  pointer-events: none;
  opacity: 0;
}
.brush-swipe {
  -webkit-animation: brush-swipe 1s 1 linear;
          animation: brush-swipe 1s 1 linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#splat {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  opacity: 0;
}
#splat.show-splat {
  -webkit-animation: show-splat 1000ms 1 ease-in;
          animation: show-splat 1000ms 1 ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#take-photo {
  position: absolute;
  top: 100%;
  left: 25%;
  -webkit-transition: top 1s;
  transition: top 1s;
  width: 50%;
  height: 25%;
  background-image: url("../img/games/colorsnap/colorsnap-camera.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
#take-photo.show-camera {
  top: 60%;
}
#output-img {
  width: 33%;
  height: 33%;
  top: 10%;
  right: 10%;
  position: absolute;
  border: 5px solid #000;
  border-radius: 15px;
  opacity: 0;
}
@-webkit-keyframes brush-swipe {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    opacity: 0;
  }
}
@keyframes brush-swipe {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    opacity: 0;
  }
}
@-webkit-keyframes show-splat {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes show-splat {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.map-sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #0078ff;
}
.map-orientation {
  margin-left: -200%;
  width: 400%;
}
.map-clouds {
  position: fixed;
  top: 0;
  left: 50%;
  height: 50%;
  background-repeat: repeat-x;
  background-size: 50%;
  background-position: center;
  background-image: url("../img/map/clouds.svg");
  opacity: 0.9;
}
.map-skyline {
  position: fixed;
  top: 0;
  left: 50%;
  height: 50%;
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 25%;
}
.map-floor-container {
  height: 50%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.map-floor {
  position: absolute;
  height: 400%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #000;
}
.map-object {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 50%;
  background-repeat: repeat-x;
  background-size: 25% 100%;
}
.world-0 .map-skyline {
  background-image: url("../img/map/sky-0.svg");
}
.world-0 .map-floor {
  background: -webkit-linear-gradient(top, #ff7bac 0%, #2e3192 100%);
  background: linear-gradient(to bottom, #ff7bac 0%, #2e3192 100%);
}
.world-0 .map-object {
  background-image: url("../img/map/object-0.svg");
}
.world-1 .map-skyline {
  background-image: url("../img/map/sky-1.svg");
}
.world-1 .map-floor {
  background: -webkit-linear-gradient(top, #a6cccc 0%, #a19633 100%);
  background: linear-gradient(to bottom, #a6cccc 0%, #a19633 100%);
}
.world-1 .map-object {
  background-image: url("../img/map/object-1.svg");
}
.world-2 .map-skyline {
  background-image: url("../img/map/sky-2.svg");
}
.world-2 .map-floor {
  background: -webkit-linear-gradient(top, #29abe2 0%, #00686a 100%);
  background: linear-gradient(to bottom, #29abe2 0%, #00686a 100%);
}
.world-2 .map-object {
  background-image: url("../img/map/object-2.svg");
}
.world-3 .map-skyline {
  background-image: url("../img/map/sky-3.svg");
}
.world-3 .map-floor {
  background: -webkit-linear-gradient(top, #00f5ac 0%, #002b3f 100%);
  background: linear-gradient(to bottom, #00f5ac 0%, #002b3f 100%);
}
.world-3 .map-object {
  background-image: url("../img/map/object-3.svg");
}
#map-goal-container {
  position: fixed;
  bottom: 50%;
  width: 100%;
  height: 50%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
#map-goal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
.map-flag-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 25%;
  height: 75%;
  border-left: 5px solid #f00;
}
.map-flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
}
#compass {
  position: absolute;
  height: 12%;
  bottom: 2%;
  left: 5%;
}
#map-menu {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.map-menu-coach {
  position: absolute;
  height: 12%;
  bottom: 2%;
  right: 5%;
}
#map-menu-bubble {
  position: absolute;
  bottom: 18%;
  right: 5%;
  width: 90%;
  max-height: 80%;
  height: auto;
  background: #fff;
  box-sizing: border-box;
  border: 5px solid #00f;
  color: #00f;
  border-radius: 15px;
  padding: 4%;
  box-sizing: border-box;
  display: none;
  overflow-y: scroll;
}
li.menu-item {
  margin-bottom: 1em;
}
li.menu-item a {
  text-decoration: underline;
}
ul.menu-list {
  margin-bottom: 1em;
}
@-webkit-keyframes clouds {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}
@keyframes clouds {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-display-none {
  display: none;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}

html {
  background-color: #fff;
  color: #000;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-style: bold;
}
html {
  font-family: sans-serif;
  font-size: 19px;
  line-height: 1.4em;
}
.container {
  margin-top: 20px;
}
.text-box {
  position: fixed;
  background: #fff;
  bottom: 2%;
  left: 2%;
  width: 96%;
  padding: 4%;
  box-sizing: border-box;
  border: 5px solid #00f;
  color: #00f;
  z-index: 900;
  display: none;
  border-radius: 15px;
  line-height: 1.4em;
}
.text-box form {
  width: 100%;
}
.text-box label {
  font-size: 24px;
}
.text-box input {
  font-size: 19px;
  border: 0;
  border-bottom: 10px solid #00f;
  width: 100%;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}
.text-box input:focus {
  outline: 0;
}
#dialog:hover {
  cursor: pointer;
}
#dialog-skip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.button {
  font-size: 1em;
  margin-bottom: 0 !important;
  background: #00f;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  box-shadow: 5px 5px 0px 0px #008000;
}
.button:active {
  box-shadow: 0px 0px 0px 0px #008000;
}
.text-box-dialog {
  display: inline;
  margin-right: 1em;
}
.text-box-next {
  font-weight: bold;
  opacity: 1;
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite;
  padding-left: 1em;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4em;
}
@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.math-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background-color: #000;
  background-image: url("../img/games/math/star.png");
  background-repeat: repeat;
  background-size: 5% 10%;
  -webkit-animation: star-background 10s infinite linear;
          animation: star-background 10s infinite linear;
}
#math-form:focus,
.calculator-button:focus,
#calculator-readout:focus {
  outline: 0 !important;
}
#math-target {
  color: #00f;
  font-size: 40px;
  padding: 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute;
}
#calculator {
  background-color: #ffa500;
  background-image: url("../img/squiggle.svg");
  background-size: 10%;
  width: 80%;
  top: 15%;
  left: 10%;
  position: absolute;
  padding: 2%;
  border: solid #327864;
  border-radius: 12px;
  border-width: 0 20px 20px 0;
  box-sizing: border-box;
  -webkit-transform: skew(-3deg);
          transform: skew(-3deg);
  box-shadow: #fadcfa 0 0 50px;
}
#calculator-readout {
  font-family: "Lucida Console", Monaco, monospace;
  color: #0f0;
  border: 3px solid;
  border-color: #000 #fff #fff #000;
  border-radius: 7px;
  width: 88%;
  height: auto;
  display: inline-block;
  text-align: right;
  background: #00008b;
  padding: 2%;
  resize: none;
  margin-bottom: 8%;
  font-size: 28px;
}
.calculator-button {
  color: #fff;
  background: #808080;
  border: 3px solid;
  border-color: #fff #000 #000 #fff;
  border-radius: 7px;
  width: 20%;
  margin-bottom: 5%;
  margin-right: 3%;
  display: inline-block;
  text-align: center;
  padding: 3% 0;
  font-size: 18px;
}
.calculator-button:nth-child(4n),
.calculator-button:last-child {
  margin-right: 0px;
}
.calculator-double {
  width: 45%;
}
#calculator-equals {
  background-color: #add8e6;
  color: #00008b;
}
#calculator-clear {
  background-color: #f00;
}
@-webkit-keyframes star-background {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes star-background {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.reset-background {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("../img/letsgo/letsgo-background.svg");
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: reset-background 2s infinite linear;
          animation: reset-background 2s infinite linear;
}
.coach-reset {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  height: 50%;
  background-image: url("../img/letsgo/coach-shiny.png");
  background-size: 400% 100%;
  background-position: 0% center;
  -webkit-animation: coach-reset 1s steps(4, end) infinite;
          animation: coach-reset 1s steps(4, end) infinite;
  -webkit-filter: hue-rotate(250deg);
          filter: hue-rotate(250deg);
  pointer-events: none;
}
.reset-option {
  position: absolute;
  width: 50%;
  height: 25%;
  border-radius: 50%;
  left: 25%;
  border-width: 10px;
  background: #a9a9a9;
  color: #fff;
  font-size: 20px;
}
.reset-yes {
  top: 10%;
}
.reset-no {
  bottom: 10%;
}
@-webkit-keyframes coach-reset {
  100% {
    background-position: 400% center;
  }
}
@keyframes coach-reset {
  100% {
    background-position: 400% center;
  }
}
@-webkit-keyframes reset-background {
  0% {
    background-color: #000;
    -webkit-filter: hue-rotate(200deg);
            filter: hue-rotate(200deg);
  }
  50% {
    background-color: #fff;
    -webkit-filter: hue-rotate(250deg);
            filter: hue-rotate(250deg);
  }
  100% {
    background-color: #000;
    -webkit-filter: hue-rotate(200deg);
            filter: hue-rotate(200deg);
  }
}
@keyframes reset-background {
  0% {
    background-color: #000;
    -webkit-filter: hue-rotate(200deg);
            filter: hue-rotate(200deg);
  }
  50% {
    background-color: #fff;
    -webkit-filter: hue-rotate(250deg);
            filter: hue-rotate(250deg);
  }
  100% {
    background-color: #000;
    -webkit-filter: hue-rotate(200deg);
            filter: hue-rotate(200deg);
  }
}

.tap-background {
  position: absolute;
  width: 200%;
  height: 100%;
  background-size: 50% 100%;
  background-position: center;
  background-repeat: repeat-x;
}
.tap-background-1 {
  background-color: #00adff;
  background-image: url("../img/games/supertap/tap-background-1.svg");
  -webkit-animation: tap-background-1 1.5s infinite linear;
          animation: tap-background-1 1.5s infinite linear;
}
.tap-background-2 {
  background-image: url("../img/games/supertap/tap-background-2.svg");
  -webkit-animation: tap-background-2 1.5s infinite linear;
          animation: tap-background-2 1.5s infinite linear;
}
.tap-frame {
  position: absolute;
  width: 90vw;
  height: 45vh;
  box-sizing: border-box;
}
#tap-countdown-frame {
  width: 80vw;
  top: 2.5vh;
  left: 10vw;
  background-image: url("../img/games/supertap/tap-number-frame.svg");
  background-size: cover;
  font-size: 180px;
  color: #fff;
  background-size: 100% 100%;
  background-position: center;
}
.tap-countdown {
  position: absolute;
}
#tap-button-frame {
  bottom: 2.5vh;
  left: 5vw;
}
#tap-button {
  background-color: #f08080;
  background-image: url("../img/games/supertap/tap-coach.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  border: 5px #808080 solid;
  border-radius: 50%;
  box-shadow: 0px 20px 0px 0px #a9a9a9;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
}
#tap-button:active {
  box-shadow: 0px 15px 0px 0px #a9a9a9;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
@-webkit-keyframes tap-background-1 {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes tap-background-1 {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes tap-background-2 {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes tap-background-2 {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.tippy-stage {
  -webkit-perspective: 700px;
          perspective: 700px;
  background-color: #ff0;
  background-image: url("../img/squiggle.svg");
  background-size: 15%;
  background-position: center;
  -webkit-animation: tippy-background-left 1s infinite linear;
          animation: tippy-background-left 1s infinite linear;
}
#tippy-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../img/games/tippyswitch/tippy_coach.svg");
  background-size: 15%;
  background-position: center;
  -webkit-animation: tippy-background-right 2s infinite linear;
          animation: tippy-background-right 2s infinite linear;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
#tippy-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}
#tippy-box {
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  background-image: url("../img/games/tippyswitch/tippy_field.svg");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  background-color: #ffa6e3;
  position: relative;
  box-shadow: #fff 0 0 15px;
  border-radius: 20px;
}
#tippy-box.backwards {
  background-color: #7569ff;
}
#tippy-field {
  height: 100%;
}
.tippy-face {
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
#tippy-sad {
  bottom: -25px;
  background-image: url("../img/games/tippyswitch/lose_coach.svg");
}
#tippy-happy {
  top: -35px;
  background-image: url("../img/games/tippyswitch/win_coach.svg");
}
#tippy-ball {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-bottom: -5px;
  margin-left: -5px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-animation: tippy-ball 0.5s infinite ease-out;
          animation: tippy-ball 0.5s infinite ease-out;
}
@-webkit-keyframes tippy-ball {
  0% {
    box-shadow: #fff 0 0 10px 5px;
  }
  20% {
    box-shadow: #fff 0 0 0px 0px;
  }
  100% {
    box-shadow: #fff 0 0 10px 5px;
  }
}
@keyframes tippy-ball {
  0% {
    box-shadow: #fff 0 0 10px 5px;
  }
  20% {
    box-shadow: #fff 0 0 0px 0px;
  }
  100% {
    box-shadow: #fff 0 0 10px 5px;
  }
}
@-webkit-keyframes tippy-background-left {
  from {
    background-position: 17.5%;
  }
  to {
    background-position: 0%;
  }
}
@keyframes tippy-background-left {
  from {
    background-position: 17.5%;
  }
  to {
    background-position: 0%;
  }
}
@-webkit-keyframes tippy-background-right {
  from {
    background-position: 0;
  }
  to {
    background-position: 17.5%;
  }
}
@keyframes tippy-background-right {
  from {
    background-position: 0;
  }
  to {
    background-position: 17.5%;
  }
}

.vibey-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  background-image: url("../img/games/vibeystopper/vibey-background.svg");
  background-size: 95% 95%;
  background-position: center;
  background-repeat: no-repeat;
}
.vibey-flash {
  -webkit-animation: vibey-flash 50ms infinite linear;
          animation: vibey-flash 50ms infinite linear;
}
.vibey-switch {
  position: absolute;
  height: 36%;
  width: 70%;
  top: 32%;
  left: 15%;
  border: 5px solid #000;
  background-color: #ff5562;
  background-image: url("../img/games/vibeystopper/vibey-switch.svg");
  background-size: 80% 40%;
  background-position: center 10%;
  background-repeat: no-repeat;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}
/* 
.vibey-part-1
  position: absolute
  top: 0
  background-image: url('../img/games/vibeystopper/vibey-1.png')
  filter: hue-rotate(0deg)
  
.vibey-part-2
  position: absolute
  top: 70%
  background-image: url('../img/games/vibeystopper/vibey-2.png')
*/
/*
.vibey-parts 
  position: absolute
  height: 30%
  width: 100%
  background-size: 80% 80%
  background-position: center
  background-repeat: no-repeat
*/
.vibey-on .vibey-switch {
  background-color: #78ff57;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.vibey-on .vibey-background {
  -webkit-animation: vibey-blink 500ms steps(2, end) infinite;
          animation: vibey-blink 500ms steps(2, end) infinite;
}
@-webkit-keyframes vibey-blink {
  from {
    -webkit-filter: hue-rotate(100deg);
            filter: hue-rotate(100deg);
  }
  to {
    -webkit-filter: hue-rotate(300deg);
            filter: hue-rotate(300deg);
  }
}
@keyframes vibey-blink {
  from {
    -webkit-filter: hue-rotate(100deg);
            filter: hue-rotate(100deg);
  }
  to {
    -webkit-filter: hue-rotate(300deg);
            filter: hue-rotate(300deg);
  }
}
@-webkit-keyframes vibey-flash {
  from {
    background-color: #000;
  }
  to {
    background-color: #fff;
  }
}
@keyframes vibey-flash {
  from {
    background-color: #000;
  }
  to {
    background-color: #fff;
  }
}
