// STRUCUTRE

  // GRID BUILDER
$gutter = 16px

$margin-tiny = ($gutter/2)
$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

// COLORS

$color-black = rgb(0,0,0)
$color-white = rgb(255,255,255)

html
  background-color: $color-white
  color: $color-black

// TYPOGRAPHY

$font-size-basic = 19px
$font-size-small = 15px

$font-leading-basic = 1.4em

$font-size-h1 = 40px
$font-size-h2 = 30px
$font-size-h3 = 24px

i, em
  font-style: italic

b, strong
  font-style: bold

html
  font-family: sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic

// offset for status bar
.container
  margin-top: 20px

.text-box
  position: fixed
  background: white
  bottom: 2%
  left: 2%
  width: 96%
  padding: 4%
  box-sizing: border-box
  border: 5px solid blue
  color: blue
  z-index: 900
  display: none
  border-radius: 15px
  line-height: $font-leading-basic
  form
    width: 100%
    box-sizing: border-box
  label
    font-size: $font-size-h3
  input
    font-size: $font-size-basic
    border: 5px solid blue
    width: 100%
    margin: 1em 0
    border-radius: 0
    box-sizing: border-box
    -webkit-appearance: none
    padding: 10px
    &:focus
      outline: 0
  input[type=submit]
    border: none
    background: blue
    color: white
    border-radius: 20px
    margin-top: 0

#dialog:hover
  cursor: pointer

#dialog-skip
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 9999

.button
  font-size: 1em
  margin-bottom: 0 !important
  background: blue
  border-radius: 20px
  padding: 10px
  color: white
  text-decoration: none
  -webkit-box-shadow: 5px 5px 0px 0px green
  box-shadow: 5px 5px 0px 0px green
  &:active
    -webkit-box-shadow: 0px 0px 0px 0px green
    box-shadow: 0px 0px 0px 0px green

.text-box-dialog
  display: inline
  margin-right: 1em

.text-box-next
  font-weight: bold
  opacity: 1
  animation: blink .5s infinite
  padding-left: 1em

@keyframes blink
  from
    opacity: 1
  to
    opacity: 0

  // HEADINGS

h1
  font-size: $font-size-h1

h2
  font-size: $font-size-h2

h3
  font-size: $font-size-h3

h1,h2,h3,h4,h5,h6
  line-height: $font-leading-basic

  // LINKS

