/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   EDITED
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#blackout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 800;
  background: #000;
  pointer-events: none;
  opacity: 1;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}
#stage {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.set {
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
}
#bedroom-wall {
  z-index: 1;
  background-image: url("../img/bedroom/wall.png");
  -webkit-animation: hue 4s infinite;
          animation: hue 4s infinite;
}
#bedroom-furniture {
  z-index: 2;
  background-image: url("../img/bedroom/furniture.png");
}
#bedroom-bed {
  z-index: 3;
  background-image: url("../img/bedroom/bed.png");
}
#bedroom-bedside {
  z-index: 1;
  background-image: url("../img/bedroom/bedside.png");
}
#bear-clock {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  top: 20%;
  left: 5%;
  background-image: url("../img/sprites/bear-clock.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 600px;
  -webkit-animation: bear-clock 0.7s steps(6, end) infinite;
          animation: bear-clock 0.7s steps(6, end) infinite;
}
#bedroom-wallpaper {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bedroom/wallpaper.gif");
  -webkit-animation: hue 4s infinite;
          animation: hue 4s infinite;
}
#coach-container {
  -webkit-animation: coach-fly 1s infinite;
          animation: coach-fly 1s infinite;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 800;
}
#coach-angry {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100%;
  background-image: url("../img/sprites/coach-angry.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 800px;
  -webkit-animation: coach-angry 0.5s steps(4, end) infinite;
          animation: coach-angry 0.5s steps(4, end) infinite;
}
#coach-mellow {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100%;
  background-image: url("../img/sprites/coach-mellow.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 1600px;
  -webkit-animation: coach-mellow 1s steps(8, end) infinite;
          animation: coach-mellow 1s steps(8, end) infinite;
}
.mirror-border {
  background: #f5f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  background: -webkit-radial-gradient(center, ellipse, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  background: radial-gradient(ellipse at center, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 699;
  -webkit-clip-path: ellipse(45% 34% at 50% 50%);
  clip-path: ellipse(45% 34% at 50% 50%);
}
#mirror-video,
#mirror-still {
  opacity: 0.8;
  -webkit-animation: mirror 2s infinite;
          animation: mirror 2s infinite;
}
#mirror-video-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 700;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
  -webkit-clip-path: ellipse(40% 30% at 50% 50%);
  clip-path: ellipse(40% 30% at 50% 50%);
}
#mirror-video {
  width: 100%;
  height: 100%;
}
#mirror-still {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.mirror-coach {
  left: -100px;
  margin-left: 0;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  top: 20%;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
.livingroom {
  width: 200%;
  left: -100%;
  -webkit-transition: left 2s;
          transition: left 2s;
}
#livingroom-room {
  background-image: url("../img/livingroom/room.png");
  z-index: 2;
}
#livingroom-aunt {
  background-image: url("../img/livingroom/aunt.png");
  z-index: 3;
  -webkit-animation: livingroom-aunt 0.5s infinite;
          animation: livingroom-aunt 0.5s infinite;
}
#livingroom-cat {
  background-image: url("../img/livingroom/cat.png");
  z-index: 4;
  -webkit-animation: livingroom-cat 3s infinite linear;
          animation: livingroom-cat 3s infinite linear;
}
#livingroom-sofa {
  background-image: url("../img/livingroom/sofa.png");
  z-index: 5;
}
.livingroom-compass {
  opacity: 0;
  background-size: cover;
  background-position: center;
  position: fixed;
  -webkit-transition: opacity 2s;
          transition: opacity 2s;
  pointer-events: none;
}
#livingroom-compass-bg {
  background-image: url("../img/livingroom/compass-bg.jpg");
  z-index: 6;
  -webkit-animation: hue 4s infinite linear;
          animation: hue 4s infinite linear;
  width: 100%;
  height: 100%;
}
#livingroom-compass-obj {
  background-image: url("../img/compass.png");
  z-index: 7;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transition: all 2s;
          transition: all 2s;
  -webkit-animation: livingroom-spin-compass 2s infinite linear;
          animation: livingroom-spin-compass 2s infinite linear;
}
.livingroom-transition {
  -webkit-transition: left 2s;
          transition: left 2s;
}
@media screen and (max-width: 600px) {
  html {
    width: 100%;
  }
}
@-webkit-keyframes bear-clock {
  100% {
    background-position: -600px;
  }
}
@keyframes bear-clock {
  100% {
    background-position: -600px;
  }
}
@-webkit-keyframes coach-fly {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes coach-fly {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes coach-angry {
  100% {
    background-position: -800px;
  }
}
@keyframes coach-angry {
  100% {
    background-position: -800px;
  }
}
@-webkit-keyframes coach-mellow {
  100% {
    background-position: -1600px;
  }
}
@keyframes coach-mellow {
  100% {
    background-position: -1600px;
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes mirror {
  0% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
  50% {
    -webkit-filter: sepia(1) hue-rotate(180deg) brightness(2);
    filter: sepia(1) hue-rotate(180deg) brightness(2);
  }
  100% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
}
@keyframes mirror {
  0% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
  50% {
    -webkit-filter: sepia(1) hue-rotate(180deg) brightness(2);
    filter: sepia(1) hue-rotate(180deg) brightness(2);
  }
  100% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
}
@-webkit-keyframes livingroom-aunt {
  0% {
    background-image: url("../img/livingroom/aunt.png");
  }
  50% {
    background-image: url("../img/livingroom/aunt2.png");
  }
  100% {
    background-image: url("../img/livingroom/aunt.png");
  }
}
@keyframes livingroom-aunt {
  0% {
    background-image: url("../img/livingroom/aunt.png");
  }
  50% {
    background-image: url("../img/livingroom/aunt2.png");
  }
  100% {
    background-image: url("../img/livingroom/aunt.png");
  }
}
@-webkit-keyframes livingroom-cat {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
@keyframes livingroom-cat {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes livingroom-spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes livingroom-spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.compass {
  width: 0;
  height: 40px;
  display: inline-block;
  border: 30px solid rgba(0,0,0,0);
  border-bottom: 100px solid #008000;
  margin: 0 40px;
}
.compass.blue {
  border-bottom: 100px solid #00f;
}
#compass-north {
  border-bottom-color: #f00;
}

img {
  max-width: 100%;
  height: auto;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-display-none {
  display: none;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}

html {
  background-color: #fff;
  color: #000;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-style: bold;
}
html {
  font-family: sans-serif;
  font-size: 19px;
  line-height: 1.4em;
}
.container {
  margin-top: 20px;
}
.text-box {
  position: fixed;
  background: #fff;
  bottom: 2%;
  left: 2%;
  width: 96%;
  padding: 4%;
  box-sizing: border-box;
  border: 10px solid #00f;
  color: #00f;
  z-index: 900;
  display: none;
  border-radius: 15px;
  line-height: 1.4em;
}
.text-box form {
  width: 100%;
}
.text-box label {
  font-size: 24px;
}
.text-box input {
  font-size: 19px;
  border: 0;
  border-bottom: 10px solid #00f;
  width: 100%;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}
.text-box input:focus {
  outline: 0;
}
#dialog:hover {
  cursor: pointer;
}
.button {
  font-size: 1em;
  margin-bottom: 0 !important;
  background: #00f;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  box-shadow: 5px 5px 0px 0px #008000;
}
.button:active {
  box-shadow: 0px 0px 0px 0px #008000;
}
.text-box-dialog {
  display: inline;
  margin-right: 1em;
}
.text-box-next {
  font-weight: bold;
  opacity: 1;
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite;
  padding-left: 1em;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4em;
}
@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#math-form:focus,
.calculator-button:focus,
#calculator-readout:focus {
  outline: 0 !important;
}
#calculator {
  background: #d3d3d3;
  width: 280px;
  height: auto;
  padding: 20px;
  border: solid #808080;
  border-radius: 12px;
  border-width: 0 20px 20px 0;
  left: 50%;
  margin-left: -160px;
  position: absolute;
  -webkit-transform: skew(-3deg);
      -ms-transform: skew(-3deg);
          transform: skew(-3deg);
}
#calculator-readout {
  font-family: "Lucida Console", Monaco, monospace;
  color: #0f0;
  border: 3px solid;
  border-color: #000 #fff #fff #000;
  border-radius: 7px;
  width: 240px;
  display: inline-block;
  text-align: right;
  background: #00008b;
  padding: 12px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 28px;
}
.calculator-button {
  color: #fff;
  background: #808080;
  border: 3px solid;
  border-color: #fff #000 #000 #fff;
  border-radius: 7px;
  width: 53px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
.calculator-button:nth-child(4n),
.calculator-button:last-child {
  margin-right: 0px;
}
.calculator-double {
  width: 120px;
}
#calculator-equals {
  background-color: #add8e6;
  color: #00008b;
}
#calculator-clear {
  background-color: #f00;
}

#tap-button {
  width: 100vw;
  height: 50vh;
  padding: 5%;
  background: #f00;
  text: #000;
  box-sizing: border-box;
}

#game-box {
  height: 90vh;
  background-color: #00f;
  position: relative;
}
#game-box.backwards {
  background-color: #f00;
}
#game-ball {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: 15%;
}
