/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   EDITED
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#blackout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 800;
  background: #000;
  pointer-events: none;
  opacity: 1;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}
#stage {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.set {
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
}
#bedroom-wall {
  z-index: 1;
  background-image: url("../img/bedroom/wall.png");
  -webkit-animation: hue 4s infinite;
          animation: hue 4s infinite;
}
#bedroom-furniture {
  z-index: 2;
  background-image: url("../img/bedroom/furniture.png");
}
#bedroom-bed {
  z-index: 3;
  background-image: url("../img/bedroom/bed.png");
}
#bedroom-bedside {
  z-index: 1;
  background-image: url("../img/bedroom/bedside.png");
}
#bear-clock {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  top: 20%;
  left: 5%;
  background-image: url("../img/sprites/bear-clock.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 600px;
  -webkit-animation: bear-clock 0.7s steps(6, end) infinite;
          animation: bear-clock 0.7s steps(6, end) infinite;
}
#bedroom-wallpaper {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bedroom/wallpaper.gif");
  -webkit-animation: hue 4s infinite;
          animation: hue 4s infinite;
}
#coach-container {
  -webkit-animation: coach-fly 1s infinite;
          animation: coach-fly 1s infinite;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 800;
}
#coach-angry {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100%;
  background-image: url("../img/sprites/coach-angry.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 800px;
  -webkit-animation: coach-angry 0.5s steps(4, end) infinite;
          animation: coach-angry 0.5s steps(4, end) infinite;
}
#coach-mellow {
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 100%;
  background-image: url("../img/sprites/coach-mellow.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 1600px;
  -webkit-animation: coach-mellow 1s steps(8, end) infinite;
          animation: coach-mellow 1s steps(8, end) infinite;
}
.mirror-border {
  background: #f5f6f6;
  background: -webkit-radial-gradient(center, ellipse cover, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  background: -webkit-radial-gradient(center, ellipse, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  background: radial-gradient(ellipse at center, #dbdce2 55%, #b8bac6 60%, #dbdce2 65%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 699;
  -webkit-clip-path: ellipse(45% 34% at 50% 50%);
  clip-path: ellipse(45% 34% at 50% 50%);
}
#mirror-video,
#mirror-still {
  opacity: 0.8;
  -webkit-animation: mirror 2s infinite;
          animation: mirror 2s infinite;
}
#mirror-video-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 700;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
  -webkit-clip-path: ellipse(40% 30% at 50% 50%);
  clip-path: ellipse(40% 30% at 50% 50%);
}
#mirror-video {
  width: 100%;
  height: 100%;
}
#mirror-still {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.mirror-coach {
  left: -100px;
  margin-left: 0;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  top: 20%;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
.livingroom {
  width: 200%;
  left: -100%;
  -webkit-transition: left 2s;
          transition: left 2s;
}
#livingroom-room {
  background-image: url("../img/livingroom/room.png");
  z-index: 2;
}
#livingroom-aunt {
  background-image: url("../img/livingroom/aunt.png");
  z-index: 3;
  -webkit-animation: livingroom-aunt 0.5s infinite;
          animation: livingroom-aunt 0.5s infinite;
}
#livingroom-cat {
  background-image: url("../img/livingroom/cat.png");
  z-index: 4;
  -webkit-animation: livingroom-cat 3s infinite linear;
          animation: livingroom-cat 3s infinite linear;
}
#livingroom-sofa {
  background-image: url("../img/livingroom/sofa.png");
  z-index: 5;
}
.livingroom-compass {
  opacity: 0;
  background-size: cover;
  background-position: center;
  position: fixed;
  -webkit-transition: opacity 2s;
          transition: opacity 2s;
  pointer-events: none;
}
#livingroom-compass-bg {
  background-image: url("../img/livingroom/compass-bg.jpg");
  z-index: 6;
  -webkit-animation: hue 4s infinite linear;
          animation: hue 4s infinite linear;
  width: 100%;
  height: 100%;
}
#livingroom-compass-obj {
  background-image: url("../img/compass.png");
  z-index: 7;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transition: all 2s;
          transition: all 2s;
  -webkit-animation: livingroom-spin-compass 2s infinite linear;
          animation: livingroom-spin-compass 2s infinite linear;
}
.livingroom-transition {
  -webkit-transition: left 2s;
          transition: left 2s;
}
@media screen and (max-width: 600px) {
  html {
    width: 100%;
  }
}
@-webkit-keyframes bear-clock {
  100% {
    background-position: -600px;
  }
}
@keyframes bear-clock {
  100% {
    background-position: -600px;
  }
}
@-webkit-keyframes coach-fly {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes coach-fly {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes coach-angry {
  100% {
    background-position: -800px;
  }
}
@keyframes coach-angry {
  100% {
    background-position: -800px;
  }
}
@-webkit-keyframes coach-mellow {
  100% {
    background-position: -1600px;
  }
}
@keyframes coach-mellow {
  100% {
    background-position: -1600px;
  }
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes mirror {
  0% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
  50% {
    -webkit-filter: sepia(1) hue-rotate(180deg) brightness(2);
    filter: sepia(1) hue-rotate(180deg) brightness(2);
  }
  100% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
}
@keyframes mirror {
  0% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
  50% {
    -webkit-filter: sepia(1) hue-rotate(180deg) brightness(2);
    filter: sepia(1) hue-rotate(180deg) brightness(2);
  }
  100% {
    -webkit-filter: sepia(1) hue-rotate(160deg) brightness(1.2);
    filter: sepia(1) hue-rotate(160deg) brightness(1.2);
  }
}
@-webkit-keyframes livingroom-aunt {
  0% {
    background-image: url("../img/livingroom/aunt.png");
  }
  50% {
    background-image: url("../img/livingroom/aunt2.png");
  }
  100% {
    background-image: url("../img/livingroom/aunt.png");
  }
}
@keyframes livingroom-aunt {
  0% {
    background-image: url("../img/livingroom/aunt.png");
  }
  50% {
    background-image: url("../img/livingroom/aunt2.png");
  }
  100% {
    background-image: url("../img/livingroom/aunt.png");
  }
}
@-webkit-keyframes livingroom-cat {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
@keyframes livingroom-cat {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
@-webkit-keyframes livingroom-spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes livingroom-spin-compass {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#compass-container {
  text-align: center;
  display: none;
}
#compass {
  width: 60%;
  -webkit-transition: -webkit-transform 300ms linear;
          transition: transform 300ms linear;
}
#radar {
  width: 10px;
  height: 10px;
  background: #f00;
  -webkit-animation-name: bleep;
          animation-name: bleep;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0ms;
          animation-duration: 0ms;
}
@-webkit-keyframes bleep {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
@keyframes bleep {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-display-none {
  display: none;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}

html {
  background-color: #fff;
  color: #000;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-style: bold;
}
html {
  font-family: sans-serif;
  font-size: 19px;
  line-height: 1.4em;
}
.container {
  margin-top: 20px;
}
.text-box {
  position: fixed;
  background: #fff;
  bottom: 2%;
  left: 2%;
  width: 96%;
  padding: 4%;
  box-sizing: border-box;
  border: 10px solid #00f;
  color: #00f;
  z-index: 900;
  display: none;
  border-radius: 15px;
  line-height: 1.4em;
}
.text-box form {
  width: 100%;
}
.text-box label {
  font-size: 24px;
}
.text-box input {
  font-size: 19px;
  border: 0;
  border-bottom: 10px solid #00f;
  width: 100%;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}
.text-box input:focus {
  outline: 0;
}
#dialog:hover {
  cursor: pointer;
}
.button {
  font-size: 1em;
  margin-bottom: 0 !important;
  background: #00f;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  box-shadow: 5px 5px 0px 0px #008000;
}
.button:active {
  box-shadow: 0px 0px 0px 0px #008000;
}
.text-box-dialog {
  display: inline;
  margin-right: 1em;
}
.text-box-next {
  font-weight: bold;
  opacity: 1;
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite;
  padding-left: 1em;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4em;
}
@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#math-form {
  display: none;
}

#photocolor-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  background-color: #fff;
  background-image: url("../img/games/photocolor/grid.png");
  background-position: center;
  background-size: 30px;
  -webkit-animation: grid-bg 2s infinite ease-in-out;
          animation: grid-bg 2s infinite ease-in-out;
}
#photocolor-coach-bg {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  background-image: url("../img/games/photocolor/coach_bw.png");
  background-position: center;
  background-size: auto 10%;
  -webkit-animation: photocolor-coach-bg 5s infinite linear;
          animation: photocolor-coach-bg 5s infinite linear;
}
#brush {
  position: absolute;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
  width: 200px;
  height: 57.191px;
  top: 50%;
  left: 40%;
  margin-top: -26px;
  pointer-events: none;
  opacity: 0;
}
.brush-swipe {
  -webkit-animation: brush-swipe 1s 1 linear;
          animation: brush-swipe 1s 1 linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#splat {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  opacity: 0;
}
#splat.show-splat {
  -webkit-animation: show-splat 500ms 1 ease-in;
          animation: show-splat 500ms 1 ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#take-photo {
  position: absolute;
  top: 100%;
  width: 50%;
  left: 25%;
  -webkit-transition: top 1s;
          transition: top 1s;
}
#take-photo.show-camera {
  top: 60%;
}
@-webkit-keyframes grid-bg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grid-bg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes photocolor-coach-bg {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@keyframes photocolor-coach-bg {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@-webkit-keyframes brush-swipe {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    opacity: 0;
  }
}
@keyframes brush-swipe {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 0;
  }
  10% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    opacity: 0;
  }
}
@-webkit-keyframes show-splat {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes show-splat {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.tap-stage {
  background: #ffc0cb;
}
.tap-frame {
  position: absolute;
  width: 90vw;
  height: 45vh;
  padding: 3%;
  box-sizing: border-box;
}
#tap-countdown-frame {
  top: 2.5vh;
  left: 5vw;
  border: 0;
  background-color: #ffff7f;
  background-image: url("../img/games/supertap/corn.png");
  background-size: 33%;
  background-position: center;
  box-shadow: 0px 0px 50px 0px #ffff7f;
  font-size: 120px;
  color: #fff;
}
#tap-button-frame {
  bottom: 2.5vh;
  left: 5vw;
  border-width: 6vw;
  -webkit-border-image: -webkit-linear-gradient(255deg, #a8a8a8 0%, #fff 26%, #a8a8a8 48%, #fefefe 70%, #a8a8a8 84%, #fefefe 100%);
       -o-border-image: linear-gradient(195deg, #a8a8a8 0%, #fff 26%, #a8a8a8 48%, #fefefe 70%, #a8a8a8 84%, #fefefe 100%);
          border-image: linear-gradient(195deg, #a8a8a8 0%, #fff 26%, #a8a8a8 48%, #fefefe 70%, #a8a8a8 84%, #fefefe 100%);
  background: -webkit-linear-gradient(315deg, #a8a8a8 0%, #fff 26%, #a8a8a8 48%, #fefefe 70%, #a8a8a8 84%, #fefefe 100%);
  background: linear-gradient(135deg, #a8a8a8 0%, #fff 26%, #a8a8a8 48%, #fefefe 70%, #a8a8a8 84%, #fefefe 100%);
}
#tap-button {
  background: -webkit-linear-gradient(45deg, #d2ff52 0%, #91e842 100%);
  background: linear-gradient(45deg, #d2ff52 0%, #91e842 100%);
  color: #fff;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 8px 0px 0px #91e842;
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
}
#tap-button-message {
  pointer-events: none;
  text-transform: uppercase;
}

#game-box {
  height: 90vh;
  background-color: #00f;
  position: relative;
}
#game-box.backwards {
  background-color: #f00;
}
#game-ball {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: 15%;
}
