.math-background
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 200%
  background-color: black
  background-image: url('../img/games/math/star.png')
  background-repeat: repeat
  background-size: 5% 10%
  animation: star-background 10s infinite linear

#math-form:focus, .calculator-button:focus, #calculator-readout:focus
  outline: 0 !important

#math-target
  color: blue
  font-size: 40px
  padding: 10px
  text-align: center
  opacity: 0
  transition: opacity .5s
  position: absolute

#calculator
  background-color: orange
  background-image: url('../img/squiggle.png')
  background-size: 10%
  width: 80%
  top: 15%
  left: 10%
  position: absolute
  padding: 2%
  border: solid rgb(50,120,100)
  border-radius: 12px
  border-width: 0 20px 20px 0
  box-sizing: border-box
  transform: skew(-3deg)
  box-shadow: rgb(250,220,250) 0 0 50px

#calculator-readout
  font-family: "Lucida Console", Monaco, monospace
  color: rgb(0,255,0)
  border: 3px solid
  border-color: black white white black
  border-radius: 7px
  width: 88%
  height: auto
  display: inline-block
  text-align: right
  background: darkblue
  padding: 2%
  resize: none
  margin-bottom: 8%
  font-size: 28px

.calculator-button
  color: white
  background: grey
  border: 3px solid
  border-color: white black black white
  border-radius: 7px
  width: 20%
  margin-bottom: 5%
  margin-right: 3%
  display: inline-block
  text-align: center
  padding: 3% 0
  font-size: 18px
  &:nth-child(4n), &:last-child
    margin-right: 0px

.calculator-double
  width: 45%

#calculator-equals
  background-color: lightblue
  color: darkblue

#calculator-clear
  background-color: red

@keyframes star-background
  from
    transform: translateX(-50%)
  to
    transform: translateX(0%)
