.grid-bg
  background-color: #ffffff
  background-image: url('../img/games/photocolor/grid.png')
  background-position: center
  animation: grid-bg 2s infinite linear
  
@keyframes grid-bg
  0%
    background-size: 20px
  80%
    background-size: 50px
  100%
    background-size: 20px

#brush
  position: absolute
  transform: rotate(-25deg)
  width: 200px
  height: 57.191px
  top: 50%
  left: 40%
  margin-top: -26px
  pointer-events: none
  
.brush-swipe
  animation: brush-swipe 1s 1 linear
  animation-fill-mode: forwards;  
  
@keyframes brush-swipe
  0%
    transform: rotate(-25deg)
    opacity: 1
  80%
    transform: rotate(15deg)
    opacity: 1
  100%
    transform: rotate(25deg)
    opacity: 0
    
#splat
  position: absolute
  width: 300px
  height: 300px
  top: 50%
  left: 50%
  margin-top: -150px
  margin-left: -150px