.reset-background
  position: absolute
  background: black 
  width: 100%
  height: 100%
  background-color: black
  background-image: url('../img/letsgo/letsgo-background.svg')
  background-size: 130%
  background-repeat: no-repeat
  background-position: center
  transform: rotate(180deg)
  filter: hue-rotate(200deg)
  animation: reset-background 2s infinite ease-in-out
  will-change: background-color
  
.coach-reset
  position: absolute
  top: 25%
  left: 10% 
  width: 80%
  height: 50%
  background-image: url('../img/letsgo/coach-shiny.png')
  background-size: 400% 100%
  background-position: 0%
  background-repeat: repeat-x
  animation: coach-reset 1s steps(4, end) infinite
  filter: hue-rotate(250deg)
  pointer-events: none
  will-change: background-position
  
.reset-option
  position: absolute
  width: 50%
  height: 25%
  border-radius: 50%
  left: 25%
  border-width: 10px
  background: darkgrey
  color: white
  font-size: 20px
  
.reset-yes
  top: 10%
  
.reset-no 
  bottom: 10%
  
@keyframes coach-reset
  from
    background-position: 0%
  to
    background-position: 400%
  
@keyframes reset-background
  0%
    background-color: black
  50% 
    background-color: white
  100%
    background-color: black
