.reset-background
  position: absolute
  width: 100%
  height: 100%
  background-image: url('../img/games/reset/reset-background.svg')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  animation: reset-background 2s infinite linear
  will-change: transform
  
.reset-rain
  position: absolute
  width: 100%
  height: 400%
  background-image: url('../img/games/reset/reset-rain.svg')
  background-size: 100% 50%
  background-repeat: repeat-y
  background-position: center
  animation: reset-rain 4s infinite linear
  will-change: transform
  
.reset-coach
  position: absolute
  top: 25%
  left: 10% 
  width: 80%
  height: 50%
  background-image: url('../img/games/reset/reset-coach.svg')
  background-size: 800% 100%
  background-position: 0%
  background-repeat: repeat-x
  animation: reset-coach 1s steps(8, end) infinite
  pointer-events: none
  will-change: background-position
  
.reset-option
  position: absolute
  width: 50%
  height: 25%
  border-radius: 50%
  left: 25%
  border-width: 10px
  background: darkgrey
  color: white
  font-size: 20px
  
.reset-yes
  top: 10%
  
.reset-no 
  bottom: 10%
  
@keyframes reset-rain
  0%
    transform: translateY(-50%)
  100%
    transform: translateY(0%)
  
@keyframes reset-coach
  from
    background-position: 0%
  to
    background-position: 800%
  
@keyframes reset-background
  0%
    transform: scale(1)
  50% 
    transform: scale(1.5)
  100%
    transform: scale(1)
