#shaky-progress-holder
  position: relative
  width: 100%
  height: 50vh
  background-color: green

#shaky-progress
  position: absolute
  top: 0
  left: 0
  height: 50vh
  background-color: red
  transition: width .2s