.tippy-stage
  perspective: 700px
  background-color: rgb(68,124,255)
  background-image: url('../img/squiggle.png')
  background-size: 15%
  background-position: center
  animation: tippy-background-hue 1s infinite linear
  
#tippy-background
  position: fixed
  width: 100%
  height: 100%
  background-image: url('../img/games/tippyswitch/tippy_coach.png')
  background-size: 15%
  background-position: center
  animation: tippy-background 2s infinite linear
  filter: invert(100%)

#tippy-container
  transform-style: preserve-3d
  height: 100%

#tippy-box
  height: 90%
  width: 40px
  top: 5%
  left: 50%
  margin-left: -20px
  background: linear-gradient(to bottom, #e22d2d 1%, #89ff8d 100%)
  position: relative
  transform: rotateX(20deg)
  transition: 300ms all cubic-bezier(0.91,-0.01, 0.68, 0.19)
  animation: tippy-hue 1s infinite linear
  box-shadow: white 0 0 15px
  &.backwards
    transform: rotateX(-20deg) 
    background: linear-gradient(to bottom, #89ff8d 1%, #e22d2d 100%)
    
.tippy-face
  width: 40px
  height: 40px
  left: 0
  position: absolute
  color: white
  text-align: center
  background-repeat: no-repeat
  background-size: 90%
  background-position: center

#tippy-sad
  bottom: 0px
  background-image: url('../img/games/tippyswitch/lose_coach.png')

  
#tippy-happy
  top: 0px
  background-image: url('../img/games/tippyswitch/win_coach.png')

#tippy-ball
  background-color: white
  width: 10px
  height: 10px
  border-radius: 10px
  margin-left: -5px
  position: absolute
  left: 50%
  bottom: 15%
  animation: tippy-ball .5s infinite ease-out
  
@keyframes tippy-hue
  from
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  to
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    
@keyframes tippy-ball
  0%
    box-shadow: white 0 0 10px 5px
  20%
    box-shadow: white 0 0 0px 0px
  100%
    box-shadow: white 0 0 10px 5px
    
@keyframes tippy-background-hue
  from
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
    background-position: 17.5%
  to
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    background-position: 0%
    
@keyframes tippy-background
  from
    background-position: 0
  to
    background-position: 17.5%
