.tippy-stage
  perspective: 700px
  background-color: yellow
  background-image: url('../img/squiggle.svg')
  background-size: 20%
  background-position: center
  
#tippy-background
  position: fixed
  width: 200%
  height: 100%
  background-image: url('../img/games/tippyswitch/tippy_coach.svg')
  background-size: 10%
  background-position: 0
  animation: tippy-background 5s infinite linear
  filter: invert(100%)

#tippy-container
  height: 100%

#tippy-box
  height: 80%
  width: 80%
  top: 10%
  left: 10%
  background-image: url('../img/games/tippyswitch/tippy_field.png')
  background-position: center
  background-size: 95% 95%
  background-repeat: no-repeat 
  background-color: #FFA6E3
  position: relative
  box-shadow: white 0 0 15px
  border-radius: 20px
  &.backwards
    background-color: #7569FF
    
#tippy-field
  height: 100%
    
.tippy-face
  width: 28%
  height: 28%
  left: 36%
  position: absolute
  color: white
  text-align: center
  background-repeat: no-repeat
  background-size: 90%
  background-position: center

#tippy-sad
  bottom: -25px
  background-image: url('../img/games/tippyswitch/lose_coach.svg')

  
#tippy-happy
  top: -35px
  background-image: url('../img/games/tippyswitch/win_coach.svg')

#tippy-ball
  background-color: white
  width: 10px
  height: 10px
  border-radius: 10px
  margin-bottom: -5px
  margin-left: -5px
  position: absolute
  left: 50%
  bottom: 50%
  animation: tippy-ball .5s infinite ease-out
    
@keyframes tippy-ball
  0%
    box-shadow: white 0 0 10px 5px
  20%
    box-shadow: white 0 0 0px 0px
  100%
    box-shadow: white 0 0 10px 5px
    
@keyframes tippy-background
  from
    transform: translateX(0%)
  to
    transform: translateX(-50%)
