.vibey-background
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: lightgrey
  background-image: url('../img/games/vibeystopper/vibey-background.svg')
  background-size: 95% 95%
  background-position: center
  background-repeat: no-repeat

.vibey-flash
  animation: vibey-flash 50ms infinite linear
  
.vibey-switch
  position: absolute
  height: 36%
  width: 70%
  top: 32%
  left: 15%
  border: 5px solid black
  background-color: #FF5562
  background-image: url('../img/games/vibeystopper/vibey-switch.svg')
  background-size: 80% 40%
  background-position: center 10%
  background-repeat: no-repeat
  transform: scale(1, -1);
  transition: background-color 300ms
  
.vibey-on     
  .vibey-switch
    background-color: #78FF57
    transform: scale(-1, 1);
  .vibey-background
    animation: vibey-blink 500ms steps(2, end) infinite
    
@keyframes vibey-blink
  from
    filter: hue-rotate(100deg)
  to
    filter: hue-rotate(300deg)
    
@keyframes vibey-flash
  from
    background-color: black
  to
    background-color: white
  