<?xml version='1.0' encoding='utf-8'?>
<widget id="vision.interglobal.walking.game" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WalkingGame</name>
    <description>
        BADDEST [aka badly made] phone game ever
    </description>
    <author email="globie@interglobal.vision" href="http://interglobal.vision">
        interglobal.vision
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <icon src="assets/icons/DefaultIcon.png" />

    <platform name="android">
        <allow-intent href="market:*" />

        <!-- you can use any density that exists in the Android project -->
        <splash src="assets/splashes/android/hdpi.png" density="land-hdpi"/>
        <splash src="assets/splashes/android/mdpi.png" density="land-mdpi"/>
        <splash src="assets/splashes/android/xhdpi.png" density="land-xhdpi"/>
        <splash src="assets/splashes/android/xxhdpi.png" density="land-xxhdpi"/>

        <splash src="assets/splashes/android/hdpi.png" density="port-hdpi"/>
        <splash src="assets/splashes/android/mdpi.png" density="port-mdpi"/>
        <splash src="assets/splashes/android/xhdpi.png" density="port-xhdpi"/>
        <splash src="assets/splashes/android/xxhdpi.png" density="port-xxhdpi"/>

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- images are determined by width and height. The following are supported -->
        <splash src="assets/splashes/ios/Default@2x.png" width="640" height="960"/>
        <splash src="assets/splashes/ios/Default-Portrait.png" width="768" height="1024"/>
        <splash src="assets/splashes/ios/Default-Portrait@2x.png" width="1536" height="2048"/>
        <splash src="assets/splashes/ios/Default-Portrait-736h@3x.png" width="1242" height="2208"/>
        <splash src="assets/splashes/ios/Default-Landscape@2x.png" width="2048" height="1536"/>
        <splash src="assets/splashes/ios/Default-Landscape.png" width="1024" height="768"/>
        <splash src="assets/splashes/ios/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="assets/splashes/ios/Default-667h@2x.png" width="750" height="1334"/>
        <splash src="assets/splashes/ios/Default-Landscape-736h@3x.png" width="2208" height="1242"/>

    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <engine name="browser" spec="~4.0.0" />
    <engine name="ios" spec="~3.9.1" />
    <engine name="android" spec="4.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-camera" spec="^1.2.0" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.1" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="^1.3.1" />
    <preference name="xwalkVersion" value="14+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
</widget>
