<template name="farewell">
  <div id="stage">
    <div class="set livingroom bedroom-wall"></div>
    <div class="set livingroom livingroom-room"></div>
    <div class="coach-container">
      <div class="coach-mellow"></div>
    </div>
    <div class="set livingroom livingroom-aunt"></div>
    <div class="set livingroom livingroom-cat"></div>
    <div class="set livingroom livingroom-sofa"></div>
    <div class="livingroom-compass-obj livingroom-compass"></div>
    <div class="livingroom-compass-bg livingroom-compass"></div>
  </div>
</template>
