.compass
  width: 0
  height: 40px
  display: inline-block
  border: 30px solid rgba(0,0,0,0)
  border-bottom: 100px solid green
  margin: 0 40px

.compass.blue
  border-bottom: 100px solid blue

#compass-north
  border-bottom-color: red
